# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Databases
*.db
*.sqlite
store_intelligence.db

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
.cov/

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
